<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="col-2">
        <input matInput id="username" placeholder="username" type="text" formControlName="username">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-2">
        <input matInput id="password" placeholder="password" type="password" formControlName="password">
      </mat-form-field>
    </div>
  
    <button mat-button type="submit">Login</button>
  
</form>
