<div class="card-deck col-4">
  <div class="row row-cols-3">
    <div class="col mb-2 dashboard-tile contactlist-tile" *ngIf="canActivateContactlist" (click)="this.router.navigate(['/users'])">
      <div class="card card-dashboard">
        <div class="card-img-top">
          <mat-icon fontIcon="group"></mat-icon>
        </div>
        <div class="card-body text-center pb-1 pt-1">
          <h4 class="card-title">Contactlist</h4>
        </div>
      </div>
    </div>
    <div class="col mb-2 dashboard-tile edit-profile-tile" (click)="editProfile()">
      <div class="card card-dashboard">
        <div class="card-img-top">
          <mat-icon fontIcon="person"></mat-icon>
        </div>
        <div class="card-body text-center pb-1 pt-1">
          <h4 class="card-title">Edit Profile</h4>
        </div>
      </div>
    </div>
    <div class="col mb-2 dashboard-tile add-user-tile" *ngIf="canAddUser" (click)="createUser()">
      <div class="card card-dashboard">
        <div class="card-img-top">
          <mat-icon fontIcon="person_add"></mat-icon>
        </div>
        <div class="card-body text-center pb-1 pt-1">
          <h4 class="card-title">Add user</h4>
        </div>
      </div>
    </div>
    <div class="col mb-2 dashboard-tile delete-user-tile" (click)="deleteUser()">
      <div class="card card-dashboard">
        <div class="card-img-top">
          <mat-icon fontIcon="delete"></mat-icon>
        </div>
        <div class="card-body text-center pb-1 pt-1">
          <h4 class="card-title">Delete Profile</h4>
        </div>
      </div>
    </div>
  </div>
</div>