<table class="contactlist">
<tr>
    <th>nr</th>
    <th>username</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>actions</th>
</tr>
<tr *ngFor="let user of users; index as i" class="contactlist">
    <td>{{ i + 1 }}</td>
    <td>{{ user['username'] }}</td>
    <td>{{ user['firstName'] }}</td>
    <td>{{ user['lastName'] }}</td>
    <td>
        <mat-icon fontIcon="search icon" (click)="showDetail(i)">search icon</mat-icon>
        <mat-icon fontIcon="edit icon" (click)="editUser(user.userId)"></mat-icon>
        <mat-icon fontIcon="delete" (click)="deleteUser(user.userId)"></mat-icon>
    </td>
</tr>
</table>
<button mat-button (click)="getUsers()">Reload</button>
<button mat-button (click)="this.router.navigate(['/dashboard'])">Back to dashboard</button>
