<div>
    <label>{{this.user.firstName}} {{this.user.lastName}}</label>
    <label>{{this.user.email}}</label>
    <div *ngIf="this.user.address">
        <label>{{this.user.address.street}}</label>
        <label>{{this.user.address.houseNumber}}</label>
        <label>{{this.user.address.zipCode}}</label>
        <label>{{this.user.address.town}}</label>
    </div>
    <div *ngIf="this.user.phoneNumbers">
        <div *ngFor="let phoneNumber of this.user.phoneNumbers">
            <label>{{phoneNumber.number}}</label>
            <label>{{phoneNumber.description}}</label>
        </div>
    </div>
    <div>
        <mat-icon (click)="nextUser()" matTooltip="next">arrow_downward</mat-icon>
        <mat-icon (click)="previousUser()" matTooltip="previous">arrow_upward</mat-icon>
    </div>
</div>

